
Web.config
.vs/KSPLaunchWindows/v16/.suo
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
*.config
*.sln
/~~ejectionAngle.html
/HtmlPage.html.exclude
/multiFunctionDisplay.svg.exclude
/multiFunctionDisplay_inkscape.svg.exclude
/multiFunctionDisplay_plain.svg.exclude
/orbitIllustration.html.exclude
