body {
    width: 360px;
    margin: auto;
    background-color: #22324d;
    touch-action: manipulation; /*prevents zoom on double tap*/
}

/*-----------------------------------------------*/
/*                 --- SVG ---                   */
/*-----------------------------------------------*/
.mfdFrame {
    background-color: #131339;
}

.fn {
    font-family: "VT323", "Lucida Console", "monospace";
    font-size: 12pt;
    border-radius: 2px;
    color: greenyellow;
    fill: greenyellow;
    background-color: darkslategrey;
    width: 60px; /*from/for svgSolarSystem*/
}

/*from/for svgSolarSystem*/
.activeFn {
    fill: black;
    font-family: "VT323", "Lucida Console", "monospace";
    font-size: 12pt;
    color: black;
    background-color: greenyellow;
}

rect.fn {
    fill: #131339;
}

rect.activeFn {
    fill: greenyellow;
}


#mfdScreen {
    position: relative;
    width: 360px;
    height: 360px;
    background-color: #131339;
}

#onScreenText {
    position: absolute;
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0px;
    color: greenyellow;
    font-family: "VT323";
    font-size: 12pt;
    overflow: hidden;
}



/*-----------------------------------------------*/
/*            --- DISPLAY PANEL --- */
/*-----------------------------------------------*/
#displayContainer {
    display: grid;
    width: 350px;
    grid-template-columns: 150px 150px;
    /*grid-template-rows: 50px 50px 50px 50px 50px;*/
    grid-row-gap: 5px;
    grid-column-gap: 10px;
    justify-content: center;
    background-color: #484f5b;
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px;
}

.paramDisp {
    color: white;
    overflow: hidden;
    padding: 5px;
    border: 1px solid black;
    background-color: #858c98;
    border-radius: 3px;
    font-size: 12px;
}

.paramDisp_hidden {
    display: none;
}

.paramDisp_inactive {
    color: #777;
}

/* LCD screen */
.LCDscreen, input {
    background-color: darkslategrey;
    color: greenyellow;
    font-family: "VT323";
    font-size: 12pt;
    border-radius: 2px;
    text-align: right;
    height: 18px;
    
}

/* inactive LCD screen */
div.paramDisp_inactive .LCDscreen, div.paramDisp_inactive input {
    background-color: darkslategrey;
    text-align: right;
    color: black;
    font-family: "VT323";
    font-size: 12pt;
    border-radius: 2px;
}


input {
    width: auto;
    border: none;
}

.LCDscreen span {
    display: inline-block; /*inline block needed for tx Ln disp*/
    height: 20px;
    vertical-align: middle;
    padding-top: 1.5px;
}


/*-----------------------------------------------*/
/*            --- KEYBOARD PANEL ---             */
/*-----------------------------------------------*/
button {
    height: 1.2cm;
    width: 1.2cm;
    margin: 1px;
}

/*-----------------------------------------------*/
/*                 --- SVG ---                   */
/*-----------------------------------------------*/
svg * {
    background-color: #131339;
    vector-effect: non-scaling-stroke;
}

/*from/for svgSolarSystem*/
.orbit {
    fill: none;
    opacity: .1;
}
